* {
    font-family: 'Roboto', sans-serif;
}

html {
    overflow-x: hidden;
}

body {
    height: 100vh;
    width: 100vw;

}

#root {
    height: 100vh;
    padding-bottom: 2rem;
}

#ul_to_hide {
    height: 0px;
    transition: all .3s;
    overflow: hidden;
    padding-left: 2rem;
}

#header_button {
    display: none;
}

#header_button:checked~#ul_to_hide {
    height: 200px;
}

.wmsArrowButton>* {
    animation-name: move_infinite;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-timing-function: ease-in;
}

@keyframes move_infinite {
    0% {
        transform: translate(0px, 0px);
    }

    20% {
        transform: translate(2px, -2px);
    }

    40% {
        transform: translate(1px, -2px);
    }

    60% {
        transform: translate(2px, -1px);
    }

    80% {
        transform: translate(1px, -2px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}